.grn-form-container {
  min-height: calc(100vh - 64px);
}

mat-card {
  margin-bottom: 16px;
}

mat-form-field {
  width: 100%;
}

table {
  width: 100%;
}

.mat-mdc-row:hover {
  background-color: #f5f5f5;
}

